body {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1bafdb;
    font-family: Arial;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -145px;
    height: 225px;
    width: 225px;
}

div {
    color: #ffffff;
}

button {
    border: none;
    appearance: none;
    outline: none;
    display: inline-block;
    font-size: 1.5em;
    cursor: pointer;
    text-decoration: none;
    padding: 12px 48px 12px 48px;
    border-radius: 4px;
    color: #ffffff;
    background-color: #1bafdb;
    border: 2px solid #ffffff;
}

button {
    transition-duration: 0.4s;
}

button:hover {
    font-size: 1.6em;
    background-color: #05c46b;
}

.rule {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.rule-content {
    background-color: rgba(255, 255, 255, 0.9);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    opacity: 1;
    font-weight: bold;
    color: black;


}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}